* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

html {
  scroll-snap-type: y mandatory;
  height: 100%;
}

.p1 {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  --opac: 0;
  scroll-snap-align: start;
  background: white;
}

.p1::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0b0f11;
  z-index: -1;
  transition: opacity 1s linear;
  opacity: var(--opac);
}

.p1container {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
}

.p2 {
  height: 100%;
  width: 100%;
  background: linear-gradient(#4AC29A, #BDFFF3);
  /* background: black; */
  scroll-snap-align: start;
}

.AboutMe {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}

.AboutMe p {
  flex-basis: 100%;
  opacity: 0;
}

.AboutMe img {
  opacity: 0;
}

.fadein {
  opacity: 0;
  flex-basis: 100%;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  animation-name: "aboutme";
  animation-duration: 4s;
  animation-fill-mode: forwards;
  font-family: "Qualy";
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.picfade {
  animation-name: "aboutme";
  animation-duration: 4s;
  animation-fill-mode: forwards;
  text-align: center;
  margin-top: 2%;
}

.p3 {
  height: 100%;
  width: 100%;
  background: linear-gradient(#83a4d4, #b6fbff);
  scroll-snap-align: start;
}

.p4 {
  height: 100%;
  width: 100%;
  background: linear-gradient(#000000, #434343);
  scroll-snap-align: start;
}

#Name {
  font-size: 125px;
  text-align: center;
  position: relative;
  font-family: "Qualy";
  color: white;
  opacity: 0;
  transition: color 3s, text-shadow 4s, opacity 6s;
  top: 20%;
}

#Name.glow {
  opacity: 1;
  text-shadow: 2px 2px #ff0090;
}

#programming {
  font-size: 50px;
  text-align: center;
  position: relative;
  font-family: "Qualy";
  color: white;
  padding-top: 5%;
  opacity: 0;
  transition: text-shadow 6s, opacity 8s;
}

#programming.glow {
  opacity: 1;
  text-shadow: 2px 2px blue;
}

#fintech {
  font-size: 50px;
  text-align: center;
  position: relative;
  font-family: "Qualy";
  color: white;
  padding-top: 5%;
  opacity: 0;
  transition: text-shadow 8s, opacity 8s;
}

#fintech.glow {
  opacity: 1;
  text-shadow: 2px 2px green;
}

#algorithms {
  font-size: 50px;
  text-align: center;
  position: relative;
  font-family: "Qualy";
  color: white;
  padding-top: 5%;
  opacity: 0;
  transition: text-shadow 4s, opacity 8s;
}

#algorithms.glow {
  opacity: 1;
  text-shadow: 2px 2px purple;
}

#About {
  font-size: 100px;
  text-align: center;
  font-family: 'Qualy';
  color: white;
  text-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple;
}

#Skills {
  font-size: 100px;
  text-align: center;
  font-family: 'Qualy';
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#Skills:active+.Skills:nth-of-type(1)>#skillp {
  color: green;
  text-shadow: 2px 2px lightgreen;
}

#Skills:active+.Skills:nth-of-type(1)>#skillcsharp {
  color: purple;
  text-shadow: 2px 2px violet;
}

#Skills:active+.Skills:nth-of-type(1)>#skillsql {
  color: yellow;
  text-shadow: 2px 2px lightyellow;
}

#Skills:active+.Skills:nth-of-type(1)+.Skills:nth-of-type(2)>#skilljavascript {
  animation: rainbow 5s infinite;
}

#Skills:active+.Skills:nth-of-type(1)+.Skills:nth-of-type(2)>#skillhtml {
  color: grey;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#Skills:active+.Skills:nth-of-type(1)+.Skills:nth-of-type(2)>#skillcss {
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#Skills:active+.Skills:nth-of-type(1)+.Skills:nth-of-type(2)+.Skills:nth-of-type(3)>#skillcplusplus {
  color: aqua;
  text-shadow: 2px 2px blue;
}

#Skills:active+.Skills:nth-of-type(1)+.Skills:nth-of-type(2)+.Skills:nth-of-type(3)>#skilljava {
  color: orange;
  text-shadow: 2px 2px darkorange;
}

#Skills:active+.Skills:nth-of-type(1)+.Skills:nth-of-type(2)+.Skills:nth-of-type(3)>#skilldotnet {
  color: violet;
  text-shadow: 2px 2px purple;
}

#Skills:active+.Skills:nth-of-type(1)+.Skills:nth-of-type(2)+.Skills:nth-of-type(3)+.Skillsf>h1 {
  color: red;
}

#Skills:active+.Skills:nth-of-type(1)+.Skills:nth-of-type(2)+.Skills:nth-of-type(3)+.Skillsf>h1+h2 span {
  color: red;
}

.Skills {
  height: 10%;
  width: 50%;
  background: black;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: 'Qualy';
  display: flex;
  justify-content: center;
}

.Skillsf {
  height: 22%;
  width: 50%;
  background: black;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: 'Qualy';
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Skillsf h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: 'Qualy';
}

.Skillsf h1:hover {
  color: red;
}

.Skillsf h2 {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: 'Qualy';
  white-space: nowrap;
  overflow: hidden;
  margin-top: 4%;
  margin-left: 1%;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
  animation-iteration-count: infinite;
}

.Skillsf h1:hover+h2>span {
  color: red;
}

#skillp {
  white-space: pre-wrap;
}

#skillp:hover {
  color: green;
  text-shadow: 2px 2px lightgreen;
}

#skillcsharp {
  white-space: pre-wrap;
}

#skillcsharp:hover {
  color: purple;
  text-shadow: 2px 2px violet;
}

#skillsql {
  white-space: pre-wrap;
}

#skillsql:hover {
  color: yellow;
  text-shadow: 2px 2px lightyellow;
}

#skilljavascript {
  white-space: pre-wrap;
}

#skilljavascript:hover {
  animation: rainbow 5s infinite;
}

#skillhtml {
  white-space: pre-wrap;
}

#skillhtml:hover {
  color: grey;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#skillcss {
  white-space: pre-wrap;
}

#skillcss:hover {
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#skillcplusplus {
  white-space: pre-wrap;
}

#skillcplusplus:hover {
  color: aqua;
  text-shadow: 2px 2px blue;
}

#skilljava {
  white-space: pre-wrap;
}

#skilljava:hover {
  color: orange;
  text-shadow: 2px 2px darkorange;
}

#skilldotnet {
  white-space: pre-wrap;
}

#skilldotnet:hover {
  color: violet;
  text-shadow: 2px 2px purple;
}

#NEU {
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#ML {
  color: white;
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

#BOS {
  color: Green;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#Projects {
  font-size: 100px;
  text-align: center;
  font-family: 'Qualy';
  color: white;
  text-shadow: -1px 0 #00ff00, 0 1px #00ff00, 1px 0 #00ff00, 0 -1px #00ff00;
}

#cedesc {
  color: white;
  text-align: center;
  font-family: 'Qualy';
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

#style1 {
  color: black;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

#water {
  color: lightblue;
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

#stone {
  color: gray;
}

#najdorf {
  color: white;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

#style2 {
  color: black;
  text-shadow: -1px 0 cyan, 0 1px cyan, 1px 0 cyan, 0 -1px cyan;
}

#style3 {
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

@keyframes rainbow {
  0% {
    color: orange;
  }

  5% {
    color: purple;
  }

  10% {
    color: red;
  }

  15% {
    color: CadetBlue;
  }

  20% {
    color: yellow;
  }

  25% {
    color: coral;
  }

  30% {
    color: green;
  }

  35% {
    color: cyan;
  }

  40% {
    color: DeepPink;
  }

  45% {
    color: DodgerBlue;
  }

  50% {
    color: orange;
  }

  55% {
    color: orange;
  }

  60% {
    color: purple;
  }

  65% {
    color: red;
  }

  70% {
    color: CadetBlue;
  }

  75% {
    color: yellow;
  }

  80% {
    color: coral;
  }

  85% {
    color: green;
  }

  90% {
    color: cyan;
  }

  95% {
    color: DeepPink;
  }

  97% {
    color: DodgerBlue;
  }

  100% {
    color: orange;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}

@keyframes aboutme {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 27em;
  }
}

@font-face {
  font-family: 'Qualy';
  src: url('Qualy-Bold.woff2') format('woff2'),
    url('Qualy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}