* {
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(#414141, #000000) no-repeat center center fixed;
  z-index: 100;
  --opac: 1;
}

html:before {
  background-image: linear-gradient(#22c1c3, #fdbb2d);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: var(--opac);
  width: 100%;
  z-index: -100;
  transition: opacity 1s;
  content: "";
}

#Header {
  font-size: 125px;
  text-align: center;
  position: relative;
  font-family: 'Source Code Pro', monospace;
  color: black;
  transition: color 3s, text-shadow 4s;
}

#Header.glow {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}